{% extends 'baseDashboard.html.twig' %}
{% block westpage %}
    <div class="row">
        <div class="col-sm-12">
            <!-- Basic Form Inputs card start -->
            <div class="card">
                <div class="card-header">
                    <h5>Modifier Admin Systeme</h5>

                </div>
                <div class="card-block">
                    <h4 class="sub-title">Remplir Les Champs</h4>
                    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" style="color:#e40505;">Nom</label>
                        <div class="col-sm-8">
                            {{ form_errors(form.nomUser) }}
                            {{ form_widget(form.nomUser, { 'attr': {'class': 'form-control','placeholder': ' Entrer votre nom '} }) }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" style="color:#e40505;">Email</label>
                        <div class="col-sm-8">
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control','placeholder': 'Entrer votre email'} }) }}
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" style="color:#e40505;">Mot de passe</label>
                        <div class="col-sm-8">
                            {{ form_errors(form.password) }}
                            {{ form_widget(form.password, { 'attr': {'class': 'form-control','placeholder': 'Entrer votre mdp'} }) }}
                        </div>
                    </div>
                    <div align="center">
                        {{ form_widget(form.Valider, { 'attr': {'class': 'btn btn-outline-danger'} }) }}
                    </div>

                    {{ form_end(form) }}


                </div>
            </div>
            <!-- Basic Form Inputs card end -->
        </div>
    </div>
{% endblock %}

{% block menu %}
    <nav class="pcoded-navbar">
        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
        <div class="pcoded-inner-navbar main-menu">
            <div class="">
                <div class="main-menu-header">
                    <img src="{{ asset('assets/images/log2.png') }}"  >
                    <div class="user-details">
                        <span id="more-details">Fantasy Web<i class="fa fa-caret-down"></i></span>
                    </div>
                </div>
                <div class="main-menu-content">
                    <ul>
                        <li class="more-details">
                            <a href="user-profile.html"><i class="ti-user"></i>Voir Profile</a>

                            <a href="auth-normal-sign-in.html"><i class="ti-layout-sidebar-left"></i>Déconnexion</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pcoded-navigation-label">Navigation</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="active">
                    <a href="index.html" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                        <span class="pcoded-mtext">Dashboard</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>

            <div class="pcoded-navigation-label">Liste Des Admins</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="">
                    <a href="{{ path('AfficheAd') }}" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                        <span class="pcoded-mtext">Liste Des Admins</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>
            <div class="pcoded-navigation-label">Liste Des Managers</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="">
                    <a href="{{ path('AfficheManager') }}" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-receipt"></i><b>B</b></span>
                        <span class="pcoded-mtext">Liste Des Managers</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>
            <div class="pcoded-navigation-label">Liste Des Adherents</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="">
                    <a href="{{ path('Affiche') }}" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-receipt"></i><b>B</b></span>
                        <span class="pcoded-mtext">Liste Des Adherents</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>
            <div class="pcoded-navigation-label">Store</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="">
                    <a href="#" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-receipt"></i><b>B</b></span>
                        <span class="pcoded-mtext">Store</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>


        </div>
    </nav>
{% endblock %}