{% extends 'base.html.twig' %}

{% block bodyakhel %}
    <div class="tg-banner tg-haslayout">
        <div class="tg-imglayer">
            <img src="{{asset('images/bg-pattran.png')}}" alt="image desctription">
        </div>
        <div class="container">
            <div class="row">
                <div class="tg-banner-content tg-haslayout">
                    <div class="tg-pagetitle">
                        <h1>La liste des joueurs</h1>
                    </div>
                    <ol class="tg-breadcrumb">

                        <li class="active">La liste des joueurs</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}

    <main id="tg-main" class="tg-main tg-haslayout">
        <!--************************************
                Top Rated Player Start
        *************************************-->

        <section class="tg-main-section tg-haslayout">
            <div class="container">
                 <div class="col-sm-pull-12 pull-right">
                   <a class="tg-btn"  href="{{ path('AddPlayer') }}"><span>Ajouter un joueur</span></a>
                   <br><br>
                 </div>

                <div class="tg-section-name">
                    <h2>La liste des joueurs</h2>
                </div>

                <div class="col-sm-11 col-xs-11 pull-right">
                    <div class="row">
                        <div class="tg-player-grid2 tg-haslayout">
                            <div id="tg-player-slider" class="tg-player-slider tg-haslayout">
                                <div class="swiper-wrapper">
                                    {% for j in joueur %}
                                        <div class="swiper-slide">
                                            <figure class="tg-postimg">
                                                <img src="{{ asset('uploads/'~j.logoJoueur) }}"  alt="image description" height="100px">
                                                <!--<div class="tg-img-hover">-->
                                                <figcaption class="tg-img-hover">

                                                    <div class="tg-section-heading">
                                                        <H3><a>{{j.nomJoueur}} {{j.prenomJoueur}}</a></H3>
                                                        <span class="tg-stars"><span></span></span>
                                                    </div>
                                                    <div class="tg-description">
                                                        <ul class="tg-playernameplusgoadtime">
                                                            <li>Position : {{j.position}}</li>
                                                            <li>Score : {{j.scoreJoueur}} </li>
                                                            <li>Prix : {{j.prixJoueur}} </li>
                                                            <li>Equipe : {{j.idEquipe}} </li>
                                                        </ul>
                                                      <br>
                                                    </div>
                                                     <br>
                                                    <a href="{{ path('DeletePlayer',{'id':j.idJoueur}) }}"><div class="tg-theme-tag">Effacer</div></a> <a href="{{ path('UpdatePlayer',{'id':j.idJoueur}) }}"><div class="tg-theme-tag">Modifier</div></a>

                                                </figcaption>
                                                <!--</div>-->
                                            </figure>
                                        </div>
                                    {% endfor %}
                                </div>


                                <div class="tg-themebtnnext"><span class="fa fa-angle-down"></span></div>
                                <div class="tg-themebtnprev"><span class="fa fa-angle-up"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block aelim %}
    <div class="tg-colhalf pull-right">
        <nav class="tg-addnav">
            <ul>
            </ul>
        </nav>

    </div>
{% endblock %}
{% block sidemenunav %}
    <!--************************************
            SideBar Navigation Start
    *************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <div id="tg-sidenav" class="tg-sidenav">
        <div id="tg-navscrollbar" class="tg-navscrollbar">
            <strong class="tg-logo">
                <a href="#"><img src="{{asset('images/logo.png')}}" alt="image description"></a>
            </strong>
            <nav id="tg-nav" class="tg-nav">
                <div id="tg-navigation" class="tg-navigation">
                    <ul>
                        <li >
                            <a href="#">Ajouter Matchs</a>
                        </li>
                        <li >
                            <a href="#">Ajouter Highlights</a>
                        </li>
                        <li><a href="#">Mon Profile</a></li>
                        <li><a href="#">Déconnexion</a></li>


                    </ul>

                </div>
            </nav>

        </div>
    </div>
{% endblock %}
{% block sidemenu %}

        <button id="tg-btnnav" class="tg-btnnav"><span></span></button>
{% endblock %}