{% extends 'baseDashboard.html.twig' %}
{% block westpage %}
    <div class="pcoded-inner-content" xmlns="http://www.w3.org/1999/html">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <!-- Basic table card start -->
                    <div class="card text-center">
                        <div class="card-header">
                            <h5> <i class="fas fa-futbol" > &nbsp;&nbsp;Liste des Matchs</i></h5>
                        </div>
                        <div class="card-body">
                            &nbsp;
                            <a href="{{ path('AddMatch') }}" ><button type="button"  class="btn btn-outline-dark ">Ajouter Match</button></a>
                        </div>

                    </div>

                    <div class="row">
                        {% for e in matchevent %}
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">

                                        <img src="{{ asset('uploads/'~e.imageA )}}" alt="image description" height="100px" width="90px">
                                        &nbsp;&nbsp;
                                        <div class="d-inline-block" align="center">
                                            <h5>{{e.titre}}</h5>
                                            &nbsp; &nbsp; &nbsp;
                                            <i class="far fa-calendar-alt " align="center"></i>&nbsp;Date : {{ e.datematch}}

                                        </div>
                                        &nbsp; &nbsp; &nbsp;

                                        <img src="{{ asset('uploads/'~e.imageB )}}" alt="image description" height="100px" width="90px">
                                        <div class="pull-right">
                                            <a href="{{ path('Deletematch',{'id':e.getIdMatch()}) }}"> <i class="fa fa-trash fa-lg"  style="color:#e02335" ></i></a> &nbsp;&nbsp;
{#                                            <a href="{{ path('UpdateEquipe',{'id':e.getIdMatch()}) }}"> <i class="fas fa-edit fa-lg"   ></i></a>#}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Inverse table card end -->
                    <!-- Hover table card start -->


                </div>
                <!-- Page-body end -->
            </div>
        </div>
        <!-- Main-body end -->

        <div id="styleSelector">

        </div>
    </div>
{% endblock %}