{% extends 'baseDashboard.html.twig' %}
{% block westpage %}
    <div class="pcoded-inner-content" xmlns="http://www.w3.org/1999/html">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <!-- Basic table card start -->
                    <div class="card text-center">
                        <div class="card-header">
                            <h5> <i class="fas fa-futbol" > &nbsp;&nbsp;Liste des Admins</i></h5>
                        </div>
                        <div class="card-body">
                            <a href="{{ path('Add1') }}" ><button type="button" class="btn btn-outline-dark" href="{{ path('Add1')}}">Ajouter Admin Systeme</button></a>
                        </div>

                    </div>

                    <div class="row">
                        {% for e in user %}
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">

                                        <img src="{{asset('images/user1.png')}}" alt="image desctription" height="100px" width="90px">
                                        &nbsp;&nbsp;
                                        <div class="d-inline-block">

                                            <h5>{{e.getNomUser() }}</h5>
                                            <i class="fas fa-hockey-puck "></i>&nbsp;Email : {{e.getEmail() }}
                                            <br>
                                            <i class="fas fa-hockey-puck "></i>&nbsp;TypeUser : {{e.getTypeUser() }}

                                        </div>
                                        <div class="pull-right">
                                            <a href="{{ path('d',{'idUser':e.getIdUser()}) }}"> <i class="fa fa-trash fa-lg" style="color:#e02335" ></i></a> &nbsp;&nbsp;
                                            <a href="{{ path('up',{'idUser':e.getIdUser()}) }}"> <i class="fas fa-edit fa-lg" ></i></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Inverse table card end -->
                    <!-- Hover table card start -->


                </div>
                <!-- Page-body end -->
            </div>
        </div>
        <!-- Main-body end -->

        <div id="styleSelector">

        </div>
    </div>
{% endblock %}