{% extends 'base.html.twig' %}
{% block aelim %}
    <div class="tg-colhalf pull-right">
        <nav class="tg-addnav">
            <ul>
            </ul>
        </nav>

    </div>
{% endblock %}
{% block sidemenunav %}
    <!--************************************
            SideBar Navigation Start
    *************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <div id="tg-sidenav" class="tg-sidenav">
        <div id="tg-navscrollbar" class="tg-navscrollbar">
            <strong class="tg-logo">
                <a href="#"><img src="{{asset('images/logo.png')}}" alt="image description"></a>
            </strong>
            <nav id="tg-nav" class="tg-nav">
                <div id="tg-navigation" class="tg-navigation">
                    <ul>

                        <li><a href="#">Mon Profile</a></li>
                        <li><a href="#">Déconnexion</a></li>


                    </ul>

                </div>
            </nav>

        </div>
    </div>
{% endblock %}
{% block sidemenu %}

        <button id="tg-btnnav" class="tg-btnnav"><span></span></button>
{% endblock %}
{% block bodyakhel %}
    <div class="tg-banner tg-haslayout">
        <div class="tg-imglayer">
            <img src="{{asset('images/bg-pattran.png')}}" alt="image desctription">
        </div>
        <div class="container">
            <div class="row">
                <div class="tg-banner-content tg-haslayout">
                    <div class="tg-pagetitle">
                        <h1>Inscription</h1>
                    </div>
                    <ol class="tg-breadcrumb">

                        <li class="active">home_Inscription</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}

    <main id="tg-main" class="tg-main tg-haslayout">
        <!--************************************
                Top Rated Player Start
        *************************************-->

        <section class="tg-main-section tg-haslayout">
            <div class="container">
                <div class="tg-section-name">
                    <h2>Inscription</h2>
                </div>
            </div>
            <div class="col-md-8 col-sm-9 col-xs-2 pull-right">
                    <div class="row">
                         {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
                         <h6 style="color:#AB0000;">Nom</h6>
                          <div class="form-group">
                           {{ form_errors(form.email) }}
                               {{ form_widget(form.nomUser, { 'attr': {'class': 'form-control','placeholder': 'Entrer Votre Nom'} }) }}
                           </div>
                            <h6 style="color:#ab0000;">Email</h6>
                            <div class="form-group">
                             {{ form_errors(form.email) }}
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control','placeholder': 'Entrer Votre Email'} }) }}
                            </div>
                            <h6 style="color:#ab0000;">Mot de passe</h6>
                            <div class="form-group">
                             {{ form_errors(form.email) }}
                                {{ form_widget(form.password, { 'attr': {'class': 'form-control','placeholder': 'Entrer Votre Mdp'} }) }}
                             </div>
                             <h6 style="color:#ab0000;">Confirmation Mdp</h6>
                             <div class="form-group">
                              {{ form_errors(form.email) }}
                                 {{ form_widget(form.confirm_password, { 'attr': {'class': 'form-control','placeholder': 'Valider Votre Mdp'} }) }}
                             </div>
                             {{ form_widget(form.Valider, { 'attr': {'class': 'btn btn-outline-danger'} }) }}

                    {{ form_end(form) }}
                    </div>
            </div>
        </section>
    </main>


{#{{ form_start(form) }}#}
{#{{ form_widget(form) }}#}
{#    <button class="tg-btn" >Ajouter</div>#}
{#{{ form_end(form) }}#}


{% endblock %}