{% extends 'base.html.twig' %}
{% block aelim %}
    <div class="tg-colhalf pull-right">
        <nav class="tg-addnav">
            <ul>
            </ul>
        </nav>

    </div>
{% endblock %}
{% block sidemenunav %}
    <!--************************************
            SideBar Navigation Start
    *************************************-->
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <div id="tg-sidenav" class="tg-sidenav">
        <div id="tg-navscrollbar" class="tg-navscrollbar">
            <strong class="tg-logo">
                <a href="#"><img src="{{asset('images/logo.png')}}" alt="image description"></a>
            </strong>
            <nav id="tg-nav" class="tg-nav">
                <div id="tg-navigation" class="tg-navigation">
                    <ul>
                        <li class="tg-hasdropdown">
                            <a href="{{ path('DisplayGroupes') }}">Groupes</a>
								<ul>
									<li><a href="{{ path('DisplayGroupes') }}">propriétaire</a></li>
									<li><a href="{{ path('DisplayGroupesMem') }}">Membre</a></li>
								</ul>
                        </li>
                         <li><a href="{{ path('formation') }}">Formation</a></li>
                        <li >
                            <a href="{{ path('DisplayPubUser') }}">highlights</a>
                        </li>
                        <li><a href="{{ path('user') }}">Déconnexion</a></li>



                    </ul>

                </div>
            </nav>

        </div>
    </div>
{% endblock %}
{% block sidemenu %}

        <button id="tg-btnnav" class="tg-btnnav"><span></span></button>
{% endblock %}